<%- include("partials/header.ejs") %>


    <div class="chat-ai-container">
        <div class="chat-ai-box" onclick="openChatInNewTab('https://chat.openai.com')">
            <img src="images/Logo/logo-chatgpt.png" alt="">
        </div>
        <div class="chat-ai-box"
            onclick="openChatInNewTab('https://app.writesonic.com/template/ed346c4d-cc28-4017-ada4-ebee66b52637/chatsonic/6c0dcca9-1fa4-458a-a20c-02124e42e19c')">
            <img src="images/Logo/chatsonic-logo.png" alt="">
        </div>

        <div class="chat-ai-box" onclick="openChatInNewTab('https://you.com/')">
            <img src="images/Logo/you-com.png" alt="">
        </div>

        <div class="chat-ai-box" onclick="openChatInNewTab('https://typeset.io/')">
            <img src="images/Logo/scispace-logo.png" alt="">
        </div>

        <div class="chat-ai-box" onclick="openChatInNewTab('https://bard.google.com/chat')">
            <img src="images/Logo/Google Bard.png" alt="">
        </div>

        <div class="chat-ai-box" onclick="openChatInNewTab('https://www.perplexity.ai/s')">
            <img src="images/Logo/Perplexity-logo.png" alt="">
        </div>

    </div>

</div>

<%- include("partials/footer.ejs") %>