<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css" />
    <script src="javascript/login.js" defer></script>
    <script src="javascript/components/popupWrong.js" defer></script>
  </head>
  <body>
    <div class="login">
      <div class="login-center">
        <img src="images/Logo.png" alt="ChatINA Logo" width="75" />
        <h1>Login</h1>
      </div>

      <form action="/login" method="post" id="login-form">
        <label for="email">Email Address</label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          id="email"
          required
        />
        <div id="email-notification" style="display: none" class="check-email">
          Email must contain the '@' character.
        </div>

        <div style="margin-top: 1.5rem"></div>
        <label for="password">Password</label>
        <div class="password-input">
          <input
            id="password-field"
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            required
          />
          <span
            class="toggle-password"
            id="togglePassword"
            onclick="togglePasswordVisibility()"
          >
            <img src="images/icons/eye-slash-fill.svg" alt="Eye fill" />
          </span>
        </div>

        <div class="inline-password">
          <div class="remember">
            <input type="checkbox" value="lsRememberMe" id="rememberMe" />
            <label for="rememberMe">Remember me</label>
          </div>
          <a class="forget-pw" href="" id="feature-button">Forget Password?</a>
        </div>
        <button>Login</button>
      </form>

      <p>Don't have account? <a href="/register" class="sign-up">Sign Up</a></p>

      <div id="popup" class="popup">
        <div class="popup-content">
          <p>Fitur ini belum tersedia</p>
          <button class="close" id="close-popup">Tutup</button>
        </div>
      </div>

      <div id="popup-wrong" class="<%= locals. wrong %>">
        Email atau password salah
      </div>

      <% setTimeout(() => { %> <% wrong = "tes" %> <% }, 100); %>
    </div>
  </body>
</html>
