@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --biru-muda : #B6FFFA;
    --biru-tua : #98E4FF;
    --ungu-muda : #80B3FF;
    --ungu-tua : #687EFF;
    --ungu-hover : #3250fd;
}

*,
*::before,
*::after{
    margin: 0;
    box-sizing: content-box;
}

body {
    background-image: linear-gradient(var(--ungu-tua), var(--ungu-muda));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.register {
    background-color: white;
    width: 20rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 2rem 3rem;
    border-radius: 2rem;
}

.register-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.1rem auto;
}

.register-center img{
    margin-bottom: 0.3rem;
}


.register h2 {
    text-align: center;
}


.register input {
    display: block;
    width: 100%;
    height: 3rem;
    margin: 0.1rem 0 0.6rem 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0.3rem;
    border-color: var(--ungu-tua);
    cursor: text;
}

#email {
    margin-bottom: 0 ;
}

.register input:focus {
    border-color: var(--ungu-hover);
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

.register button {
    width: 95%;
    padding: 10px;
    background-color: var(--ungu-tua);
    color: white;
    border: none;
    height: 1.5rem;
    border-radius: 1rem;
    margin: 1rem 0;
    font-size: 1rem;
}

.register button:hover {
    background-color: var(--ungu-hover);
    cursor: pointer;
}

.register p{
    text-align: center;
    font-size: 0.8rem;
}



input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
            appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0;
    height: 1rem;
}

label[for="privacy_policy"]{
    margin: 0 0.5rem;
    line-height: 1.2rem;
    position: absolute;
    font-size: 0.8rem;
}

.check-email{
    position: absolute;
    font-size: 0.6rem;
    color: red;
}

.forget-pw,
.sign-in{
    text-decoration: none;
}

.forget-pw{
    color: black;
    font-size: 0.8rem;
} 

.sign-in:hover,
.forget-pw:hover{
    color: #3250fd;
}

.inline-password{
    display: flex;
    justify-content: space-between;
}

.password-input {
    position: relative;
}

.password-input input {
    padding-right: 30px; 
}

.password-input .toggle-password {
    position: absolute;
    top: 55%;
    right: 10px; 

    transform: translateY(-50%);
    cursor: pointer;
}

.confirm_password-input {
    position: relative;
}

.confirm_password-input input {
    padding-right: 30px; 
}

.confirm_password-input .toggle-confirm_password {
    position: absolute;
    top: 55%;
    right: 10px; 

    transform: translateY(-50%);
    cursor: pointer;
}

.policy{
    font-size: 0.8rem;
    margin: 0.3rem 0;
}


@media screen and (max-width:576px) {
    .register {
        width: 17rem;
    }

}
